body, html{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.leaflet-container{
    width: 100vw;
    height: 50vh;
}
.info-container{
    width: 100vw;
    overflow: auto;
    height: 50vh;
    padding: 15px;
}
@import '../../node_modules/leaflet/dist/leaflet.css';